@font-face {
    font-family: Calligraffitti;
    src: url(/Calligraffitti-Regular.ttf);
}

.main {
    width: 100vw;
}
.home {
    position: relative;
    height: 100vh;
}

.backgroundImage {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-color: aqua;
}
.homeText {
    position: absolute;   
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    color: rgb(255, 217, 1);
}

.title {
    font-family: Calligraffitti, "Brush Script MT";
    font-size: 50px;
}

@media (min-width: 1200px) {
   .backgroundImage {
        object-position: 0px -400px;
    }
}
  